@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-soft: #f5f5f7;
  --color-white-warm: #fbfbfd;
  --color-gray-100: #f5f5f5;
  --color-gray-150: #f2f2f2;
  --color-gray-400: #aaaaaa;
  --color-gray-600: #86868b;
  --color-gray-800: #555;
  --color-gray-900: #1d1d1f;
  --color-black-alpha-80: #000000cc;
  --color-black-alpha-30: rgba(0, 0, 0, 0.3);
  --color-blue-primary: #0071e3;
  --color-blue-link: #2997ff;
  --color-pink-gradient-start: #ffb6ff;
  --color-purple-gradient-end: #b344ff;
  --color-sound-gradient-start: #1e3791;
  --color-sound-gradient-mid: #2948b1;
  --color-sound-gradient-light: #3153c6;
  --color-sound-gradient-end: #385fda;
  --color-transparent: transparent;
}

html,
body,
#root {
  min-height: 100%;
  background-color: var(--color-black);
}

body {
  margin: 0;
  font-family: "SF Pro Display", SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white-soft);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--color-black-alpha-30);
  border-radius: 10px;
  background-color: var(--color-gray-100);
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--color-gray-400);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--color-black-alpha-30);
  background-color: var(--color-gray-800);
}

.App .app-content {
  transition-duration: 0.3s;
}

.App .app-content.is-preview-mode {
  opacity: 0;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  background: var(--color-transparent);
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  top: 0;
  pointer-events: none;
  min-height: 831px;
  background: var(--color-transparent);
}

#webgi-canvas-container.is-preview-mode {
  pointer-events: all;
}

#webgi-canvas-container .button {
  background: var(--color-blue-primary);
  color: var(--color-white);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  position: absolute;
  top: 30px;
  border: none;
  z-index: 1;
  transition-duration: 0.3s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



@media screen and (max-width: 990px) {
  #webgi-canvas-container {
    min-height: 746px;
    height: 100vh;
  }
}
