.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  margin-top: 24px;
}

.button {
  background: var(--color-blue-primary);
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 400;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  border: none;
}

.linkButton {
  padding: 0;
  border: none;
  background: none;
  color: var(--color-blue-link);
  font: inherit;
  font-size: 21px;
  font-weight: 400;
  cursor: pointer;
}
